body {
  margin: 0;
  padding: 0;
}

/* MAIN PAGE  */
.content__on__any__page {
  flex: 1;
}

.main__styling__after__root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* COMPLETE BOOKING SECTION */
.new__booking__guest {
  font-size: 3rem;
}

#new__booking__container {
  font-size: 2rem;
}

.booking__render__room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.booking__room__details {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.booking__details {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
}

.booking__pricing {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}



.booking__room_images {
  display: flex;
  justify-content: center;
}

/* BOOKING LIST SECTION */
.booking__list__header {
  font-size: 3rem;
}

.booking_list_item_content {
  font-size: 1.5rem;
  margin-top: 1rem; 
}

#booking_list_raised {
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 5px;
}

.booking_list_buttons {
  margin-right: 1rem; 
}

/* BOOKING DETAIL VIEW COMPONENT*/
.booking__details__back__button {
  padding-left: 2rem;
  padding-top: 1rem;
  color: #34b4eb;
  height: fit-content;
  width: fit-content;
}

#booking__details__main__container {
  overflow: auto
}

.booking__details__main {
  display: flex;
  justify-content: flex-start;
}

.booking__details__main__content {
  font-size: 2rem;
  margin: 1.5rem;
}

/* SIGN IN MODAL  */
.signin_modal_actions{
  display: flex;
  justify-content: space-between
}

.signin_modal_actions a {
  text-decoration: none;
}

/* IMAGE GALLERY MODAL */
.image__gallery__close__button {
  font-size: 3rem;
  width: fit-content;
}

.image__gallery__container {
  height: 90%;
}

.image__gallery__content {
  display: flex;
  justify-content: space-evenly;
}

.image__gallery__image {
  margin: 0 auto;
}

.image__gallery__change__image {
  font-size: 6rem;
  text-decoration: none;
  margin: auto 0;
}

.image__gallery__change__image a {
  color: white;
}

/* HEADER  */
#guests__header__menu {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.1em;
  background-color: transparent;
  /* background-image: linear-gradient(to right bottom, #65a5cf80, #1c5488); */
  margin: 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.guests__header__content {
  display: flex;
}

.guests__header__content__item {
  padding: 0.5rem;
  text-decoration: none;
}

.guests__header__content__item:hover {
  color: gray;
}

.guests__header__content__item:active {
  color: inherit;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  max-width: 20em;
  background-color: #f1f1f1;
  font-size: 1.3rem;
  padding: 0.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-decoration: none;
  z-index: 1;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: flex; top: 100%;}

/* ROOM LIST VIEW */
#page__heading__contents{
  margin-top: 1rem;
}

.section__heading {
  margin-top: 2rem; 
  font-size: 3em;
  height: 4rem;
}

.sticky__room__detail {
  position: fixed;
  width: 55%;
  height: 85%;
}

/* General  */
.content__heading {
  font-size: 3rem;
  margin: 1rem 0 1rem 0;
}

.content__heading__sub {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-bottom: 0.3rem;
}

.header__logout {
  color: #943855;
}


/* COMPLETE LANDING PAGE SECTION */

.landing-hero {
  height: 75vh;
  margin: 0;
  padding: 1rem 6rem 6rem 6rem;
  top: 0;
  /* background-image: linear-gradient(to right bottom, #65a5cf80, #1c5488),
    url("https://ocean-panorama.s3.eu-west-2.amazonaws.com/site-photos/landing-page/landing-dp.png"); */
  background-image: url("https://oceanpanoramaweb.s3.eu-west-2.amazonaws.com/landing-page/landing-dp.png");
  background-size: cover;
  background-position: top;
  background-origin: content-box;
  background-repeat: no-repeat;
}

.text-box {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #34b4eb; */
  /* background: rgba(52, 180, 235, 0.8); */
  background: rgba(47, 55, 59, 0.6);
  height: 15rem;
  width: 65%;
}

.landing__page__heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.heading-primary-main {
  display: block;
  font-size: 75px;
  font-weight: 400;
  letter-spacing: 10px;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
}

/* Landing Page Rooms Presentation */
.section__landing {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  padding-top: 2rem;
}

#rooms {
  background-color: #34b4eb;
}

.section__main__header {
  height: fit-content;
  font-size: 3rem;
  font-weight: 500;
}

.section__main__sub {
  height: fit-content;
  font-size: 1.5rem;
}

.section__rooms__show__room {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
}

hr {
	width: 250px;
	height: 3px;
	border: 0;
	background-color: #3f51b5;
  margin-bottom: 50px;
  margin-top: 2rem;
}

/* ROOM CARD COMPONENT STYLING */
.room__card {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 25rem;
  width: 20rem;
  margin: 2em;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: black;
}

.room__card__image {
  width: 100%;
  height: 50%;
}

.room__card__header {
  font-size: 1.5rem;
}

.room__card__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;;
}

.room__card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  padding: 1rem;
}
.room__card__details {
  display: flex;
  justify-content: space-between;
}

.room__card__pricing {
  font-size: 2rem;
}

.room__display__actions {
  display: flex;
  justify-content: flex-end;
}

/* ROOM VIEW COMPONENT */
.room__display {
  position: sticky;
  position: -webkit-sticky;
  top: 5%;
  background-color: #34b4eb;
  width: 55rem;
  height: auto;

  padding: 1.5rem;

  display: flex;
  flex-direction: column;

  justify-content: space-around;

  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.room__display__header {
  font-size: 4.5rem;
  margin: 10px;
  line-height: 1;
}

.room__display__sub {
  font-size: 1.5rem;
  margin: 10px;
}

.room__display__content {
  display: flex;
  justify-content: space-around;
  
}

.room__display__details {
  flex-grow: 1;
  padding-left: 1rem;
}

.room__details__info {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  font-size: 2.5rem;
}

/* TESTIMONIAL STYLING */
.testimonial__header {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.testimonial__content {
  max-width: 75%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

/* INSTANT MESSAGE */

.instant__message__container {
  display: flex;
  flex-direction: row;
  background-color: #3f51b5;
  height: 30rem;
}
.instant__message__box {
  flex-grow: 1; 
}

/* FOOTER STYLING */
.footer__landing {
  position: relative;
  color: white;
  background-color: #333333;
  height: 15rem;
  width: 100%;
  margin-top: 10rem;
  padding-top: 3rem;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  align-content: center;
  text-align: center;
  
}

.footer__info {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.footer__info__header {
  font-size: 2rem;
  margin-bottom: 2rem; 
}

.footer__info__sub {
  display: flex;
  flex-direction: column;
}

@media (max-width: 450px){
  
  /* Landing Page */
  #guests__header__menu {
    font-size: 0.9rem;
  }
	
  
  .heading-primary-main {
    font-size: 50px;
    justify-content: center;
    text-align: center;
    line-height: 1em;
  }

  .heading-primary-sub {
    font-size: 15px;
    text-align: center;
    line-height: 1.2em;
  }

  .section__rooms{
    margin: 0%;
    background-color: aqua;
    
  }
  .text-box {
    width: 90%;
  }
}
