/* COMPLETE BOOKING SECTION */
.booking__room {
  display: flex;
  justify-content: space-between;
}

.booking__details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.booking__pricing {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.booking__room_images {
  display: flex;
  justify-content: center;
}

/* BOOKING LIST SECTION */
.booking__list__header {
  font-size: 3rem;
}

.booking_list_item_content {
  font-size: 1.5rem;
}

#booking_list_raised {
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 5px;
}

.booking_list_buttons {
  margin-right: 1rem; 
}

/* BOOKING DETAIL VIEW */
.booking__details__back__button {
  padding-left: 2rem;
  height: fit-content;
  width: fit-content;
}

.booking__details__main {
  display: flex;
  justify-content: space-between;
}

.booking__details__main__content {
  font-size: 1.3rem
}

/* SIGN IN MODAL  */
.signin_modal_actions{
  display: flex;
  justify-content: space-between
}

.signin_modal_actions a {
  text-decoration: none;
}

/* HEADER  */
#guests__header__menu {
  font-size: 1.5em;
  background-color: #61f2f5;
  margin: 0
}

/* ROOM LIST VIEW */
#page__heading__contents{
  margin-top: 1rem;
}

.section__heading {
  font-size: 3em;
  height: 4rem;
}

.sticky__room__detail {
  position: fixed;
  width: 55%;
  height: 85%;
}
/* style={{ position: "fixed", }} */

/* General  */
.content__heading {
  font-size: 3em;
}


/* COMPLETE LANDING PAGE SECTION */

.landing-hero {
  height: 90vh;
  margin: 0;
  /* background-image: linear-gradient(to right bottom, #65a5cf80, #1c5488),
    url("https://ocean-panorama.s3.eu-west-2.amazonaws.com/site-photos/private-room/private-room-10.jpeg"); */
  background-image: url("https://ocean-panorama.s3.eu-west-2.amazonaws.com/site-photos/private-room/private-room-10.jpeg");
  background-size: cover;
  background-position: top;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
}
