/* COMPLETE BOOKIMG SECTION */
.booking__room {
  display: flex;
  justify-content: space-between;
}

.booking__details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.booking__pricing {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
